.0_31 { 
	overflow:hidden;
}.e0_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_32 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/1613673256_26_p_fon_dlya_prezentatsii_ucheba_27_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:600px;
	height:505px;
	position:absolute;
	left:473px;
	top:119px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_34 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:512px;
	height:57px;
	position:absolute;
	left:527px;
	top:336px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_35 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:519px;
	height:57px;
	position:absolute;
	left:527px;
	top:438px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_36 { 
	color:rgba(0, 0, 0, 1);
	width:88px;
	height:32px;
	position:absolute;
	left:558px;
	top:293px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e0_37 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:45px;
	position:absolute;
	left:558px;
	top:393px;
	font-family:Forum;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}.e0_38 { 
	width:239px;
	height:145px;
	position:absolute;
	left:654px;
	top:135px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_39 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:203px;
	height:60px;
	position:absolute;
	left:806px;
	top:528px;
	border-radius:20px;
}.e0_40 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:203px;
	height:60px;
	position:absolute;
	left:806px;
	top:528px;
	font-family:Forum;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e0_41 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:183px;
	height:65px;
	position:absolute;
	left:558px;
	top:523px;
	border-radius:20px;
}.e0_42 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:183px;
	height:65px;
	position:absolute;
	left:558px;
	top:523px;
	font-family:Forum;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}