.0_180 { 
	overflow:hidden;
}.e0_180 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_181 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/________2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_182 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:832px;
	height:516px;
	position:absolute;
	left:343px;
	top:105px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_183 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:657px;
	height:57px;
	position:absolute;
	left:430px;
	top:386px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_184 { 
	color:rgba(0, 0, 0, 1);
	width:476px;
	height:45px;
	position:absolute;
	left:453px;
	top:333px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_185 { 
	width:324px;
	height:197px;
	position:absolute;
	left:597px;
	top:105px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_186 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:669px;
	top:487px;
	border-radius:20px;
}.e0_187 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:669px;
	top:487px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_188 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:43px;
	top:44px;
	border-radius:20px;
}.e0_189 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:43px;
	top:44px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}