.0_159 { 
	overflow:hidden;
}.e0_159 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_160 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/qvwfxoddiva_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_161 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_162 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_163 { 
	width:1920px;
	height:1072px;
	position:absolute;
	left:9590px;
	top:-2345px;
	background-image:url(images/qvwfxoddiva_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_164 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1009px;
	height:528px;
	position:absolute;
	left:271px;
	top:114px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_165 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:657px;
	height:251px;
	position:absolute;
	left:432px;
	top:349px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_166 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:45px;
	position:absolute;
	left:447px;
	top:299px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_167 { 
	width:324px;
	height:197px;
	position:absolute;
	left:597px;
	top:114px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}