.0_96 { 
	overflow:hidden;
}.e0_96 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_97 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/____2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:837px;
	height:482px;
	position:absolute;
	left:341px;
	top:122px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_99 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:523px;
	height:46px;
	position:absolute;
	left:409px;
	top:455px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_100 { 
	color:rgba(0, 0, 0, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:585px;
	top:423px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_101 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:528px;
	height:46px;
	position:absolute;
	left:371px;
	top:186px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_102 { 
	color:rgba(0, 0, 0, 1);
	width:383px;
	height:36px;
	position:absolute;
	left:554px;
	top:150px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_103 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:523px;
	height:45px;
	position:absolute;
	left:409px;
	top:276px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_104 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:36px;
	position:absolute;
	left:585px;
	top:241px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_105 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:523px;
	height:46px;
	position:absolute;
	left:409px;
	top:365px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_106 { 
	color:rgba(0, 0, 0, 1);
	width:382px;
	height:36px;
	position:absolute;
	left:585px;
	top:332px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_107 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:170px;
	height:64px;
	position:absolute;
	left:967px;
	top:501px;
	border-radius:20px;
}.e0_108 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:170px;
	height:64px;
	position:absolute;
	left:968px;
	top:501px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_109 { 
	width:246px;
	height:149px;
	position:absolute;
	left:932px;
	top:122px;
	background-image:url(images/123_photoroom_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_110 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_111 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}