.0_3 { 
	overflow:hidden;
}.e0_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_4 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/____2_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:819px;
	height:472px;
	position:absolute;
	left:393px;
	top:131px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_6 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:511px;
	height:45px;
	position:absolute;
	left:460px;
	top:452px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_7 { 
	color:rgba(0, 0, 0, 1);
	width:334px;
	height:36px;
	position:absolute;
	left:493px;
	top:416px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_8 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:517px;
	height:45px;
	position:absolute;
	left:422px;
	top:189px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_9 { 
	color:rgba(0, 0, 0, 1);
	width:374px;
	height:35px;
	position:absolute;
	left:460px;
	top:156px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_10 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:511px;
	height:44px;
	position:absolute;
	left:460px;
	top:277px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_11 { 
	color:rgba(0, 0, 0, 1);
	width:375px;
	height:35px;
	position:absolute;
	left:493px;
	top:242px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_12 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:511px;
	height:45px;
	position:absolute;
	left:460px;
	top:364px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_13 { 
	color:rgba(0, 0, 0, 1);
	width:375px;
	height:35px;
	position:absolute;
	left:493px;
	top:330px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_14 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:193px;
	height:63px;
	position:absolute;
	left:971px;
	top:512px;
	border-radius:20px;
}.e0_15 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:193px;
	height:63px;
	position:absolute;
	left:971px;
	top:512px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_16 { 
	width:255px;
	height:155px;
	position:absolute;
	left:957px;
	top:123px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_18 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}