.0_66 { 
	overflow:hidden;
}.e0_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_67 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_68 { 
	width:353px;
	height:171px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/123_photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_69 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:384px;
	height:43px;
	position:absolute;
	left:400px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_70 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:246px;
	height:42px;
	position:absolute;
	left:797px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_71 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:152px;
	height:42px;
	position:absolute;
	left:1040px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_72 { 
	width:879px;
	height:388px;
	position:absolute;
	left:96px;
	top:190px;
}.e0_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:879px;
	height:388px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_74 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:419px;
	height:47px;
	position:absolute;
	left:304px;
	top:76.48486328125px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_75 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:419px;
	height:47px;
	position:absolute;
	left:304px;
	top:162px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_76 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:38px;
	position:absolute;
	left:317px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_77 { 
	color:rgba(0, 0, 0, 1);
	width:97px;
	height:39px;
	position:absolute;
	left:317px;
	top:125px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_78 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:230px;
	height:47px;
	position:absolute;
	left:304px;
	top:243px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_79 { 
	color:rgba(0, 0, 0, 1);
	width:92px;
	height:39px;
	position:absolute;
	left:317px;
	top:206px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_80 { 
	width:248.8046112060547px;
	height:274px;
	position:absolute;
	left:18px;
	top:38px;
	background-image:url(images/________photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}