.0_112 { 
	overflow:hidden;
}.e0_112 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_113 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/____2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_114 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:789px;
	height:462px;
	position:absolute;
	left:374px;
	top:123px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_115 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:477px;
	height:43px;
	position:absolute;
	left:458px;
	top:418px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_116 { 
	color:rgba(0, 0, 0, 1);
	width:321px;
	height:35px;
	position:absolute;
	left:490px;
	top:386px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e0_117 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:498px;
	height:44px;
	position:absolute;
	left:426px;
	top:206px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_118 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:35px;
	position:absolute;
	left:458px;
	top:171px;
	font-family:Inter;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e0_119 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:240px;
	height:44px;
	position:absolute;
	left:426px;
	top:504px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_120 { 
	color:rgba(0, 0, 0, 1);
	width:361px;
	height:35px;
	position:absolute;
	left:458px;
	top:469px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e0_121 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:493px;
	height:42px;
	position:absolute;
	left:458px;
	top:278px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_122 { 
	color:rgba(0, 0, 0, 1);
	width:107px;
	height:35px;
	position:absolute;
	left:490px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e0_123 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:493px;
	height:43px;
	position:absolute;
	left:458px;
	top:347px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_124 { 
	color:rgba(0, 0, 0, 1);
	width:112px;
	height:35px;
	position:absolute;
	left:490px;
	top:316px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e0_125 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:154px;
	height:61px;
	position:absolute;
	left:962px;
	top:487px;
	border-radius:20px;
}.e0_126 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:154px;
	height:61px;
	position:absolute;
	left:962px;
	top:487px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_128 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_129 { 
	width:212px;
	height:131px;
	position:absolute;
	left:935px;
	top:123px;
	background-image:url(images/123_photoroom_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}