.0_52 { 
	overflow:hidden;
}.e0_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_53 { 
	width:1519px;
	height:712px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/c_3tigqsf5o_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_54 { 
	width:356px;
	height:176px;
	position:absolute;
	left:0px;
	top:-1px;
	background-image:url(images/123_photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_55 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:299px;
	height:43px;
	position:absolute;
	left:430px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_56 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:248px;
	height:42px;
	position:absolute;
	left:742px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_57 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:154px;
	height:42px;
	position:absolute;
	left:987px;
	top:66px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:879px;
	height:388px;
	position:absolute;
	left:96px;
	top:190px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_59 { 
	width:297px;
	height:274px;
	position:absolute;
	left:111px;
	top:235px;
	background-image:url(images/______photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_60 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:419px;
	height:47px;
	position:absolute;
	left:440px;
	top:272px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_61 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:419px;
	height:47px;
	position:absolute;
	left:440px;
	top:354px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_62 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:37px;
	position:absolute;
	left:452px;
	top:235px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_63 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:37px;
	position:absolute;
	left:452px;
	top:319px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_64 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:230px;
	height:47px;
	position:absolute;
	left:440px;
	top:433px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_65 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:38px;
	position:absolute;
	left:452px;
	top:397px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}