.0_81 { 
	overflow:hidden;
}.e0_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_82 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/____2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_83 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:790px;
	height:434px;
	position:absolute;
	left:364px;
	top:149px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_84 { 
	width:156px;
	height:158px;
	position:absolute;
	left:958px;
	top:258px;
	background-image:url(images/pngwing_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_85 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:469px;
	height:57px;
	position:absolute;
	left:443px;
	top:336px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_86 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:318px;
	height:57px;
	position:absolute;
	left:443px;
	top:429px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_87 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:45px;
	position:absolute;
	left:467px;
	top:291px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_88 { 
	color:rgba(0, 0, 0, 1);
	width:294px;
	height:45px;
	position:absolute;
	left:452px;
	top:393px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_89 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:167px;
	height:55px;
	position:absolute;
	left:777px;
	top:493px;
	border-radius:20px;
}.e0_90 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:167px;
	height:55px;
	position:absolute;
	left:777px;
	top:493px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_91 { 
	width:261px;
	height:156px;
	position:absolute;
	left:629px;
	top:149px;
	background-image:url(images/123_photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_92 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:154px;
	height:55px;
	position:absolute;
	left:960px;
	top:493px;
	border-radius:20px;
}.e0_93 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:154px;
	height:55px;
	position:absolute;
	left:960px;
	top:493px;
	font-family:Forum;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
}.e0_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_95 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}