.0_148 { 
	overflow:hidden;
}.e0_148 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_149 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/qvwfxoddiva_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_150 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_151 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_152 { 
	width:1920px;
	height:1072px;
	position:absolute;
	left:9590px;
	top:-2345px;
	background-image:url(images/qvwfxoddiva_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_153 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:781px;
	height:434px;
	position:absolute;
	left:369px;
	top:114px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_154 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:657px;
	height:57px;
	position:absolute;
	left:432px;
	top:349px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_155 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:45px;
	position:absolute;
	left:447px;
	top:299px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_156 { 
	width:324px;
	height:197px;
	position:absolute;
	left:597px;
	top:114px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_157 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:670px;
	top:445px;
	border-radius:20px;
}.e0_158 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:670px;
	top:445px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}