.0_168 { 
	overflow:hidden;
}.e0_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_169 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:0px;
	top:-5px;
	background-image:url(images/________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_170 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:781px;
	height:523px;
	position:absolute;
	left:369px;
	top:88px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e0_171 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:657px;
	height:57px;
	position:absolute;
	left:432px;
	top:304px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_172 { 
	background-color:rgba(192.5648358464241, 192.5648358464241, 192.5648358464241, 1);
	width:499px;
	height:57px;
	position:absolute;
	left:432px;
	top:414px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e0_173 { 
	color:rgba(0, 0, 0, 1);
	width:476px;
	height:45px;
	position:absolute;
	left:655px;
	top:259px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_174 { 
	color:rgba(0, 0, 0, 1);
	width:476px;
	height:45px;
	position:absolute;
	left:655px;
	top:369px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}.e0_175 { 
	width:324px;
	height:168px;
	position:absolute;
	left:605px;
	top:91px;
	background-image:url(images/123_photoroom_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_176 { 
	background-color:rgba(19.0000007674098, 21.000000648200512, 87.00000241398811, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:670px;
	top:503px;
	border-radius:20px;
}.e0_177 { 
	color:rgba(202.07422077655792, 202.07422077655792, 202.07422077655792, 1);
	width:179px;
	height:80px;
	position:absolute;
	left:670px;
	top:503px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e0_178 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	border-radius:20px;
}.e0_179 { 
	color:rgba(0, 0, 0, 1);
	width:156px;
	height:61px;
	position:absolute;
	left:62px;
	top:62px;
	font-family:Inter;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}