.0_43 { 
	overflow:hidden;
}.e0_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:1519px;
	height:726px;
	position:absolute;
}.e0_44 { 
	width:1519px;
	height:726px;
	position:absolute;
	left:4px;
	top:0px;
	background-image:url(images/______1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_45 { 
	width:314px;
	height:128px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/123_photoroom_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e0_46 { 
	background-color:rgba(199.75000709295273, 161.8473905324936, 27.465625405311584, 1);
	width:170px;
	height:65px;
	position:absolute;
	left:185px;
	top:596px;
}.e0_47 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:193px;
	height:43px;
	position:absolute;
	left:283px;
	top:64px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_48 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:320px;
	height:42px;
	position:absolute;
	left:480px;
	top:64px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_49 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:46px;
	position:absolute;
	left:195px;
	top:606px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e0_50 { 
	color:rgba(32.00000189244747, 58.00000034272671, 70.00000342726707, 1);
	width:250px;
	height:42px;
	position:absolute;
	left:791px;
	top:64px;
	font-family:Forum;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}.e0_51 { 
	color:rgba(0, 0, 0, 1);
	width:811px;
	height:427px;
	position:absolute;
	left:35px;
	top:128px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}